*.py[co]

# Packages
*.egg
*.egg-info
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

# Backup files
*~

# Temporary output
output/
dist/
build/
README.rst
out/

# Virtual environment
python?.?-*/
distribute-*.tar.gz
.DS_Store

# idea
.idea/
